<div class="row">
  <div class="col-8 m-auto">
    <form>
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Anúncios
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Título:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Título do anúncio">
      </div>
      <div class="mb-3">
        <label for="phone_number" class="form-label">Descrição:</label>
        <input type="number" formControlName="phone_number" class="form-control" id="Descrição do anúncio"
          placeholder="Seu numero de telefone">
      </div>
      <div class="mb-3">
        <label for="preco" class="form-label">Preço:</label>
        <input type="number" formControlName="preco" class="form-control" id="preco" placeholder="Preço do produto">
      </div>
      <div class="mb-3">
        <label for="preco" class="form-label">Data de Validade:</label>
        <input type="date" formControlName="data" class="form-control" id="preco">
      </div>
      <div class="mb-3">
        <label for="imagem" class="form-label">Imagem:</label>
        <input type="text" formControlName="imagem" class="form-control" id="imagem" placeholder="Imagem do anúncio">
      </div>
      <div class="mb-3">
        <div class="d-flex flex-nowrap gap-2">
          <label class="form-check-label">Li e aceito os termos de exibição:</label>
          <div class="form-check">
            <input type="checkbox" formControlName="isAcceptedTerms" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-end gap-2">
        <button class="btn btn-success">Salvar</button>
        <button class="btn btn-danger">Limpar</button>
      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Categoria</th>
      <th scope="col">Produto</th>
      <th scope="col">Termos</th>
      <th scope="col">Status</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-primary me-2">Editar</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
